{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

{% if paries| length>0 %}
    {% for parie in paries %}
    <li style="padding: 5px;height: 30px;">
        <span><a href="{{ path('DataEquipes', {'matchid': parie.match.id}) }}" >{{ parie.match.date|date('d/m') }}-{{ parie.match.date|date('H:i') }} </a></span> 
        {{ parie.match.equipeDom.nom }} - {{ parie.match.equipeExt.nom }}
    </li>
    {% endfor %}
{% endif %}
{% else %}
    <li style="padding: 5px;height: 30px;"> Connectez vous !!</li>
{% endif %}