{% extends "::layout/layout.html.twig" %}  
{% block body %}
    <div class="col-sm-2">
        <div class="list-group">
            {% include '::modulesUsed/navigation.html.twig' %}
        </div>    
    </div>



    <div class="col-sm-10">

        {% if championnats|length != 0 %}

            {% for championnat in championnats %}
                <div class="col-sm-2">
                    <div class="thumbnails">
                        <a href="{{ path('ChampionnatEquipes', {'championnat': championnat.id}) }}"><img src="{{ championnat.Media.url }}" alt="{{ championnat.Media.alt }}" width="150" height="150" /></a>
                        <div class="caption">
                            <a href="{{ path('ChampionnatEquipes', {'championnat': championnat.id}) }}"><h5>{{ championnat.nom }}</h5></a>
                            <p><a href="#" class="btn btn-primary" role="button">Classement</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            Aucun championnat
        {% endif %}
    </div>

{% endblock %}