{% extends "::layout/layout.html.twig" %}  
{% block body %}
    <div class="col-sm-2">
        <div class="list-group">
            {% include '::modulesUsed/navigation.html.twig' %}
        </div>    
    </div>
    <div class="col-sm-10">
        <div class="row">
            
        {% if equipes|length != 0 %}
            {% set Favoris = app.session.get('favoris') %}
            <ul>
                {% for equipe in equipes %}
                    <li class="col-sm-2 thumbnail">
                        
                        <a href="{{ path('EquipePresentation', {'equipe': equipe.id}) }}"><h5>{{ equipe.nom }}</h5></a>  
                        
                        {% if equipe.id|number_format not in Favoris %}
                            
                          <a href="#" class="fav" ideq="{{ equipe.id }}" ><span class="glyphicon glyphicon-star-empty"></span></a> 
                        {% else %}
                          <a href="#" class="nonfav" ideq="{{ equipe.id }}"><span class="glyphicon glyphicon-star"></span></a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            Aucune equipe
        {% endif %}
        </div> 
        <div class="row">
            <h4>Matches Extérieur</h4></br>
            <table class="table table-condensed sty-table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Date</th>
                        <th>Domicile</th>
                        <th>Score</th>
                        <th>Extérieur</th>
                    </tr>
                </thead>
                <tbody> 
                    {% if matches|reverse>0 %}
                    {% for matche in matches|reverse %}
                        <tr class="{% if matche.score1 < matche.score2 %}bg-success{% elseif matche.score1 > matche.score2 %}bg-danger{% else %}bg-info{% endif %}">
                            <td>{{ matche.date|date('d-m-Y') }}</td>
                            <td><a href="{{ path('EquipePresentation', {'equipe': matche.equipeDom.id}) }}">{{ matche.equipeDom.nom }}</a></td>
                            <td>{{ matche.score1 }} : {{ matche.score2}}</td>
                            <td><a href="{{ path('EquipePresentation', {'equipe': matche.equipeExt.id}) }}">{{ matche.equipeExt.nom }}</a></td>
                        {% endfor %} 
                        
                    </tr>
                    {% endif %}
                </tbody>
            </table>    
        </div> 
    </div>   



{% endblock %}