{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show_groups %}
    <div class="row">
        {% block field_row %}
            {% for code in groups %}
                {% set show_group = admin.showgroups[code] %}

                <div class="{{ show_group.class|default('col-md-12') }} {{ no_padding|default(false) ? 'nopadding' }}">
                    <div class="{{ show_group.box_class }}">
                        <div class="box-header">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="box-title">
                                        {{object.nom}}
                                    </h4>
                                </div>

                                <div class="col-md-2">
                                    <a href="#" id="addequipes" idcham="{{object.id}}" class="btn btn-primary">ajouter équipes</a>
                                    <a href="#" id="addmatches" idcham="{{object.id}}" class="btn btn-default">Charger tous les matches</a>
                                </div>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <img src="{{object.media.url}}" width="100" height="100" style="margin-left:10px;margin-bottom:10px;">

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endblock %}

    </div>

    {{ render(controller(
        'FootstatBundle:EquipesCRUD:Championnat',
        { 'championnat': object.id , '_sonata_admin' : 'app.admin.championnat'}
    )) }}   


    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $("a#addequipes").click(function () {
                var this$ = $(this);
                var idcham = this$.attr("idcham");
                $.ajax({
                    url: "{{ admin.generateUrl('getallequipes',{'id':object.id}) }}",
                    type: 'get',
                    beforeSend: function () {
                        $('#equipes').html('<div class="col-md-2 col-md-offset-5" style="text-align:center;"><h6>Chargement des équipes...</h6><div class="loading"></div></div>');

                        
                    },
                    success: function (data) {
                        $('#equipes').html(data);
                    }

                });
            });
            $("a#addmatches").click(function () {
                var this$ = $(this);
                var idcham = this$.attr("idcham");
                $.ajax({
                    url: "{{ admin.generateUrl('allequipesmatches',{'id':object.id}) }}",
                    type: 'get',
                    beforeSend: function () {
                        $('#equipes').html('<div class="col-md-2 col-md-offset-5" style="text-align:center;"><h6>Chargement des équipes...</h6><div class="loading"></div></div>');

                        
                    },
                    success: function (data) {
                        $('#equipes').html(data);
                    }

                });
            });
        </script>
    {% endblock %}
    
    




{% endblock %}