{% extends "::layout/layoutAdmin.html.twig" %}  


{% block body %}
    <h1>Media list</h1>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Alt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td><a href="{{ path('media_show', { 'id': medium.id }) }}">{{ medium.id }}</a></td>
                <td>{{ medium.url }}</td>
                <td>{{ medium.alt }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('media_show', { 'id': medium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('media_edit', { 'id': medium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('media_new') }}">Create a new medium</a>
        </li>
    </ul>
{% endblock %}
