
{% extends "::layout/layout.html.twig" %}  
{% block body %}
    {% if dataEqdom['Dom_NbMatch']>0 %}
        {% set pctVdom = 100*(dataEqdom['nbVdom']/dataEqdom['Dom_NbMatch']) %}
        {% set pctNdom = 100*(dataEqdom['nbNdom']/dataEqdom['Dom_NbMatch']) %}
        {% set pctDdom = 100*(dataEqdom['nbDdom']/dataEqdom['Dom_NbMatch']) %}
    {% endif %}
    {% if dataEqext['Ext_NbMatch']>0 %}
        {% set pctVext = 100*(dataEqext['nbVext']/dataEqext['Ext_NbMatch']) %}
        {% set pctNext = 100*(dataEqext['nbNext']/dataEqext['Ext_NbMatch']) %}
        {% set pctDext = 100*(dataEqext['nbDext']/dataEqext['Ext_NbMatch']) %}

    {% endif %}

    <div class="col-sm-2">
            {% include '::modulesUsed/navigation.html.twig' %} 
    </div>
    <div class="col-sm-10 well">
        <!-- debut affiche du matche -->  
        <div class="row">
            <!-- fiche equipe domicile -->  
            <div class="col-md-3 col-xs-offset-1 thumbnail">
                <img src="{{ asset('img/' ~ dataEqdom['logo'].url ~ '') }}" width="100" height="100">
                <div class="caption">
                    <h4>{{dataEqdom['nom']}}</h4>
                    <p><span class="title1">Classement : </span> {{dataEqdom['classement']}}</p>
                </div> 
            </div>
                <!-- fiche date et heure --> 
            <div class="col-md-2 col-xs-offset-1 btn btn-success" style="margin-top: 5%;">
                <h4><span class="glyphicon glyphicon-time"></span> {{match.date|date('d/m/Y')}}</h4>
                <h4 style="text-align: center;">{{match.date|date('H:i')}}</h4>
            </div>
                <!-- fiche equipe visiteurs --> 
            <div class="col-md-3 col-xs-offset-1 thumbnail" >
                <img src="{{ asset('img/' ~ dataEqext['logo'].url ~ '') }}" width="100" height="100">
                <div class="caption">
                    <h4>{{dataEqext['nom']}}</h4>
                    <p><span class="title1">Classement : </span> {{dataEqext['classement']}}</p>
                </div> 
            </div>
        </div>
        <!-- debut statistiques deux equipes -->    
        <div class="row">
            <!-- debut statistiques equipe domicile --> 
            <div class="col-sm-5">
                <div class="row thumbnail">
                    <span class="sty-table">Victoire à domicile</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{pctVdom|round}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pctVdom|round}}%;">
                            {{pctVdom|round}}%
                        </div>
                    </div>
                    <span class="sty-table">Nul à domicile</span>
                    <div class="progress">

                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{pctNdom|round}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pctNdom|round}}%;">
                            {{pctNdom|round}}%
                        </div>
                    </div>
                    <span class="sty-table">Défaite à domicile</span>
                    <div class="progress">

                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{pctDdom|round}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pctDdom|round}}%;">
                            {{pctDdom|round}}%
                        </div>
                    </div>
                </div>
                <div class="row thumbnail">
                    <h4>Statistiques de l'équipe {{dataEqdom['nom']}}</h4>
                    <table class="table table-condensed sty-table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Stat</th>
                                <th>Domicile</th>
                                <th>Extérieur</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Nombre de matches joués</b></td>
                                <td>{{dataEqdom['Dom_NbMatch']}} </td>
                                <td>{{dataEqdom['Ext_NbMatch']}}</td>
                            </tr>
                            <tr>
                                <td><b>Nombre de matches Gagnés</b></td>
                                <td>{{dataEqdom['nbVdom']}} </td>
                                <td>{{dataEqdom['nbVext']}} </td>
                            </tr>
                            <tr>
                                <td><b>Nombre de matches Nuls</b></td>
                                <td>{{dataEqdom['nbNdom']}} </td>
                                <td>{{dataEqdom['nbNext']}}  </td>
                            </tr>
                            <tr>
                                <td><b>Nombre de matches Perdus</b></td>
                                <td> {{dataEqdom['nbDdom']}} </td>
                                <td>{{dataEqdom['nbDext']}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">

                    {% include 'FootstatBundle:Default:Matches/EqDomMatches.html.twig' %}
                </div>
                </div>

                    

            <!-- debut statistiques equipe visiteurs --> 
            <div class="col-sm-5 col-sm-offset-2">
                <div class="row thumbnail">
                    <span class="sty-table">Victoire à l'extérieur</span>
                    <div class="progress">

                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{pctVext|round}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pctVext|round}}%;">
                            {{pctVext|round}}%
                        </div>
                    </div>
                    <span class="sty-table">Nul à l'extérieur</span>
                    <div class="progress">

                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{pctNext|round}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pctNext|round}}%;">
                            {{pctNext|round}}%
                        </div>
                    </div>
                    <span class="sty-table">Défaite à l'extérieur</span>
                    <div class="progress">

                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{pctDext|round}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pctDext|round}}%;">
                            {{pctDext|round}}%
                        </div>
                    </div>
                </div>
                <div class="row thumbnail">
                    <h4>Statistiques de l'équipe {{dataEqext['nom']}}</h4>
                    <table class="table table-condensed sty-table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Stat</th>
                                <th>Domicile</th>
                                <th>Extérieur</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Nombre de matches joués</b></td>
                                <td>{{dataEqext['Dom_NbMatch']}} </td>
                                <td>{{dataEqext['Ext_NbMatch']}}</td>
                            </tr>
                            <tr>
                                <td><b>Nombre de matches Gagnés</b></td>
                                <td>{{dataEqext['nbVdom']}} </td>
                                <td>{{dataEqext['nbVext']}} </td>
                            </tr>
                            <tr>
                                <td><b>Nombre de matches Nuls</b></td>
                                <td>{{dataEqext['nbNdom']}} </td>
                                <td>{{dataEqext['nbNext']}}  </td>
                            </tr>
                            <tr>
                                <td><b>Nombre de matches Perdus</b></td>
                                <td> {{dataEqext['nbDdom']}} </td>
                                <td>{{dataEqext['nbDext']}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
                <div class="row">
                    {% include 'FootstatBundle:Default:Matches/EqExtMatches.html.twig' %}
    </div> 
    </div> 
    </div>  </div>  




               
 
{% endblock %}