{% extends "::layout/layout.html.twig" %}  
{% block body %}
    <div class="col-sm-2">
        {% include '::modulesUsed/navigation.html.twig' %}
    </div>
    <div class="col-sm-10 well">
        <div class="row">
            <div class="col-sm-6">


                <h5 style="color: #fff;background-color: #113d48;padding: 10px;">Matches d'aujourd'hui </h5>
                <table class="table table-condensed sty-table thumbnail">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Date</th>
                            <th></th>
                            <th>Domicile</th>
                            <th>Score</th>
                            <th>Extérieur</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% if matchday>0 %}
                            {% for matche in matchday %}
                       

                                    <tr class="match-row" data-href="{{ path('DataEquipes', {'matchid': matche.id}) }}">
                                        <td>{{ matche.date|date('d-m') }}</td>
                                        <td><img src="{{ matche.championnat.Media.url }}" width="20" height="20"> </td>
                                        <td><a href="{{ path('EquipePresentation', {'equipe': matche.equipeDom.id}) }}">{{ matche.equipeDom.nom }}</a></td>
                                        <td>{{ matche.date|date('H:i') }}</td>
                                        <td><a href="{{ path('EquipePresentation', {'equipe': matche.equipeExt.id}) }}">{{ matche.equipeExt.nom }}</a></td>
                                    </tr>

                            {% endfor %}       
                        {% endif %}
                    </tbody>
                </table>    
            </div>
            <div class="col-sm-6">


                <h5 style="color: #fff;background-color: #DF1318;padding: 10px;">Prochains Matches </h5>
                <table class="table table-condensed sty-table thumbnail">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Date</th>
                            <th></th>
                            <th></th>
                            <th>Heure</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% if nextmatch>0 %}
                            {% for matche in nextmatch %}
               
                                    <tr class="match-row" data-href="{{ path('DataEquipes', {'matchid': matche.id}) }}">
                                        <td>{{ matche.date|date('d-m') }}</td>
                                        <td><img src="{{ matche.championnat.Media.url }}" width="20" height="20"> </td>
                                        <td><a href="{{ path('EquipePresentation', {'equipe': matche.equipeDom.id}) }}">{{ matche.equipeDom.nom }}</a></td>
                                        <td>{{ matche.date|date('H:i') }}</td>
                                        <td><a href="{{ path('EquipePresentation', {'equipe': matche.equipeExt.id}) }}">{{ matche.equipeExt.nom }}</a></td>
                                    </tr>
       
                            {% endfor %}       
                        {% endif %}
                    </tbody>
                </table>    
            </div>

        </div> 

    </div>   



{% endblock %}